*{
  word-break: keep-all;
  box-sizing: border-box;
}

body{
  background-color: #AEC0CE;
}

ul,li{
  list-style: none;
}

#data{
  display: flex;
  justify-content: space-between;
  padding: 1vw 8vw 0 8vw;  
}

#time{  
  font-size: 4vw;
  font-weight: 900;
  color: black;
}

#data ul{
  display: flex;
  gap: 2vw;
}

#data li{
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: contain;
  text-indent: -1000px;
  overflow: hidden;
}

#data .cellular{
  width: 5vw;
  background-image: url(../images/cellular.png);
}

#data .wifi{
  width: 5vw;
  background-image: url(../images/wifi.png);
}

#data .battery{
  width: 5vw;
  background-image: url(../images/battery.png);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 4vw;
  height: 7vw;
  
}

header .backbutton{
  display: block;
  width: 7vw;
  height: 7vw;
  background: url(../images/chevron-left-black.png) no-repeat center/40%;
  /* background: no-repeat center/80% url("../images/chevron-left-black.png"); */
}

header h1{
  font-size: 6vw;
  font-weight: 500;
}

header ul{
  display: flex;
  gap: 2vw;
}

header a{
  display: block;
  width: 5vw;
  height: 5vw;  
  background-size: contain;
  text-indent: -1000px;
}

header .search a{
  background-image: url(../images/search.png);
}

header .menu a{
  background-image: url(../images/hamburger.png);
}

article ul li{
  display: flex;
}

article .avatar{
  display: block;  
  width: 4vw;
  height: 4vw;
  padding: 5vw 3vw;
  border-radius: 12vw;
  background: url(../images/avatar.png) no-repeat center/40%;
  background-size: contain;  
}

article h2{
  display: block;
  font-size: 4;
  font-weight: 400;
  color: #666;
  padding-left: 4vw;
  padding-right: 3vw;
  padding-bottom: 4vw;
  
}

article .message{
  position: relative;
  font-size: 2.8vw;
  padding: 2vw;
  background-color: #fff;
}

article .message::after{
  position: absolute;
  top: 0;
  content: "";
  left: -1vw;
  width: 2vw;
  height: 2vw;
  border-top: 2vw solid #FFF;
  border-right: 0 solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 2vw solid transparent;
    
}

article .time{
  font-size: 2vw;
  width: 25vw;
  align-self: flex-end;
  color: #666;
}

#input{
  position: fixed;
  bottom: 0;
  display: flex;
  padding: 2.25vw 2.5vw 5vw;
  width: 100%;
  background-color: white;
}

#input form{
  display: flex;
  justify-content: space-between;
  gap: 1.5vw;
  width: 91%;
  border: 1px solid #C5C4C4;
  
}

#input form input{
  flex: 1;
  border: none;
  outline: none;
  
}

#input button{
  width: 5vw;
  height: 5vw;
  background-size: contain;
  text-indent: -1000px;
  overflow: hidden;
}

#input .plus{
  background: url("../images/plus.png")no-repeat center/40%;;
}

#input .emoji{
  background: url("../images/emoji.png")no-repeat center/40%; ;
}

#input .send{
  background: url("../images/enter.png")no-repeat center/40%;
}