
#no-mobile { 
  display:none;
}    

@media (min-width: 600px) {
  #no-mobile {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      z-index: 100;
      color: #0F7562;
      background-color: #FFDF23;
  }

  #no-mobile .logo {
      margin-bottom: 1em;
      width: 7em;
      height: 7em;
      background:url(../images/logo.png) no-repeat 0 50%;
      background-size: contain;
      text-indent: -1000px;
      overflow: hidden;    
  }

  #no-mobile p {
      font-size: 1.3em;
  }
}
